body {
  background-color: #77DDFF;
}

.title{
	height: 60px;
	font-family: 微软雅黑;
	font-size: 26px;
	font-weight: bold;
	border-bottom:1px dashed #000000;
	color: #255e95;
	text-align: center;
}
.left{
    float: left;
	width: 20%;
}
.right{
	float: right;
	width: 80%;
}
.form1 {
	margin-top: 13px;
}
.form1 td{
	background-color:#ffffff;
	height:40px;
	text-align:center;
}
.font1 {
	background:#e9faff !important;
	font-family: 微软雅黑;
	font-size: 16px;
	font-weight: bold;
	color: #255e95;
}