<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>根据城市设置城市中心点</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <style>
    body,
    html,
    #container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: "微软雅黑";
    }
    </style>
    <script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=OG2CIPVIGVPeLpdbufgGBvyTzRCjxjcY"></script>
</head>
<body>
    <div id="container"></div>
</body>
</html>
<script>
    // 创建地图实例
    var map = new BMapGL.Map('container'); // 创建Map实例

    {% if data["eqs"]|length  == 1 %}
        var p = new BMapGL.Point(parseFloat({{ data["eqs"][0].Longitude }}), parseFloat({{ data["eqs"][0].Latitude }}))
    {% else  %}
        var p = '银川市'
    {% endif %}

    map.centerAndZoom(p, 5); // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
    map.setMapStyleV2({
        styleId:'aee6a4174ac8a14468b4672a4b9c3bac'
    });
    {% for eq in data["eqs"] %}
    var point = new BMapGL.Point(parseFloat({{ eq.Longitude }}), parseFloat({{ eq.Latitude }}));
    // var l = 
    var marker = new BMapGL.Marker(point,{title:"{{ eq.Location }}" });        // 创建标注    
    map.addOverlay(marker);                     // 将标注添加到地图中 
    {% endfor %}
 
</script>