<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>MSHD系统</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="../static/ico/earth.ico" />
</head>
    <!-- 导航条 -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MSHD</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/earthquakes">震情</a></li>
                    <li><a href="#">灾情</a></li>
                    <li><a href="ftp://47.93.229.92/">FTP系统</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
</html>