{% from 'nav.html' import nav %}
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>MSHD系统</title>
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="../static/ico/earth.ico"/>
</head>
<body>
<header>
    {% block header %} {% endblock %}
</header>
{% block content %} {% endblock %}

<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>