{% extends 'base.html' %}

{% block content %}


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group table-responsive" role="tablist">
                <div class="panel  panel-default leftMenu">
                    <!-- 利用data-target指定要折叠的分组列表 -->
                    <div class="panel-heading " id="collapseListGroupHeading1" data-toggle="collapse"
                        data-target="#collapseListGroup1" role="tab">
                        <h4 class="panel-title ">
                            快捷操作
                        </h4>
                    </div>
                    <div id="collapseListGroup1" class="collapse show" role="tabpanel"
                        aria-labelledby="collapseListGroupHeading1">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="/earthquakes">返回</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--panel end-->
            </div>
        </div>
        <div class="col-md-10">
        </div>
    </div>
</div>

<script>
    const nav = document.getElementById("navOptions")
    console.log(nav.children.length)
    for (let i = 0; i < nav.children.length;i++) {
        if (nav.children[i].firstChild.innerHTML == "震情") {
            nav.children[i].classList.add("active");
        }
        else{
            nav.children[i].classList.remove("active");
        }
    }
</script>

{% endblock %}
