{% extends 'base.html' %}

{% block other_head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
<script src="../static/js/marked.min.js"></script>
{% endblock %}


{% block content %}
{{ nav() }}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel">
                <div class="card">
                    <h4 class="card-header" data-toggle="collapse" data-target="#docsList">
                        文档列表
                    </h4>
                    <ul class="list-group" id="docsList">
                        <li class="list-group-item" role="tab" id="DataDescription_">
                            <a href="#">数据说明</a>
                        </li>
                        <li class="list-group-item" role="tab" id="AboutUpdload_">
                            <a href="#">数据上传</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10 tab-content">
            <div role="tabpanel" class="tab-pane in active " id="DataDescription">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        数据说明
                    </div>
                    <div class="panel-body" id="description">
                    </div>
                </div>

            </div>
            <div role="tabpanel" class="tab-pane " id="AboutUpdload">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        数据上传
                    </div>
                    <div class="panel-body" id="updload">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 点击切换
    const docsList = document.getElementById("docsList").getElementsByClassName("list-group-item")
    Array.prototype.forEach.call(docsList, function (p) {
        p.addEventListener('click', function (ev) {
            Array.prototype.forEach.call(document.getElementsByClassName("tab-pane"), function (t) {
                t.classList.remove("active", "in")
            });
            const id_ = this.getAttribute("id").slice(0, -1);
            document.getElementById(id_).classList.add("active")
        });
    });
</script>
<script>
    hljs.highlightAll();
	var rendererMD = new marked.Renderer();
    marked.setOptions({
      renderer: rendererMD,
      gfm: true,
      tables: true,
      breaks: false,
      pedantic: false,
      sanitize: false,
      smartLists: true,
      smartypants: false,
      highlight: function (code) {
        return hljs.highlightAuto(code).value;
      }
    });//基本设置
    function showFile(element, filename, type = "md") {
        var httpRequest = new XMLHttpRequest();
        httpRequest.open("POST", "/docs", true);
        httpRequest.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        httpRequest.send("docName=" + filename + "&type=" + type);
        httpRequest.onreadystatechange = () => {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                // var data = JSON.parse(httpRequest.responseText);
                element.innerHTML = marked(
                    httpRequest.responseText
                );
                return
                // console.log();
            }
        }
    }
    window.onload = function () {
        showFile(document.getElementById('description'), "aboutData.md")
        showFile(document.getElementById('updload'), "aboutUpload.md")
    }
</script>
{% endblock %}