<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>MSHD系统</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script>
        function click_tb(id){
            window.location.href="/earthquakes/"+id   
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MSHD</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/earthquakes">震情</a></li>
                    <li><a href="#">灾情</a></li>
                    <li><a href="ftp://47.93.229.92/">FTP系统</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"  >
                <div class="panel-group table-responsive" role="tablist">
                    <div class="panel  panel-default leftMenu">
                        <!-- 利用data-target指定要折叠的分组列表 -->
                        <div class="panel-heading " id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                            <h4 class="panel-title ">
                                数据视角
                                <!-- <span class="glyphicon glyphicon-chevron-up right"></span> -->
                            </h4>
                        </div>
                        <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
                        <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <!-- 利用data-target指定URL -->
                                    <a href="/earthquakes">全部数据</a>
                                    <!-- <button class="menu-item-left" data-target="test2.html">
                                        <span class="glyphicon glyphicon-triangle-right"></span>分组项1-1
                                    </button> -->
                                </li>
                                <li class="list-group-item">
                                    <!-- 利用data-target指定URL -->
                                    <a href="/earthquakes">特定文件</a>
                                    <!-- <button class="menu-item-left" data-target="test2.html">
                                        <span class="glyphicon glyphicon-triangle-right"></span>分组项1-1
                                    </button> -->
                                </li>
                            </ul>
                        </div>
                    </div><!--panel end-->
                </div>
            </div>
            <div class="col-md-10">
                <div class="col-1 border" style="text-align: center;">
                    <form action="/uploader" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" class="btn" style="display:inline;" />
                        <input type="submit" id="btn-upload-file" class="btn btn-primary">上传震情数据</input>
                    </form>
                </div>
                <div class="col-9 table-responsive">
        
                    <table class="table-bordered table-hover table-effect" cellspacing="1" bgcolor="#f0f8ff" align="center">
                        <thead>
                            <tr>
                                <td width="5%" class="font1">序号(I)</td>
                                <td width="10%" class="font1">震级(M)</td>
                                <td width="15%" class="font1">发震时刻(UTC+8)</td>
                                <td width="10%" class="font1">纬度(°)</td>
                                <td width="10%" class="font1">经度(°)</td>
                                <td width="14%" class="font1">深度(千米)</td>
                                <td width="20%" class="font1">参考位置</td>
                            </tr>
                        </thead>
                        {% for eqs in earthquakes %}
                        <tbody>
                            <tr onclick="click_tb({{eqs.Id}});">
                                    <td>{{ eqs.Id }}</td>
                                    <td>{{ eqs.Level }}</td>
                                    <td>{{ eqs.Str_ot }}</td>
                                    <td>{{ eqs.Longitude }}</td>
                                    <td>{{ eqs.Latitude }}</td>
                                    <td>{{ eqs.Depth }}</td>
                                    <td>{{ eqs.Location }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center;">
                    <ul class="pagination">
                        {% set offset = (offset)|int %}
                        {% set limit = (limit)|int %}
                        {% set count = (count)|int %}
        
                        {% set current_page = (offset/limit)|int + (1 if offset%limit else 0) %}
                        {% set total_page = (count/limit)|int + (1 if count%limit else 0) %}
        
                        <li class="{{ 'disabled' if current_page - 1 <=0 else '' }}">
                            <a href="
                                {% if current_page>1 %}{{ url_for('earthquakesListPage',  result=result,offset=(current_page-1)*limit, limit=limit) }}{% endif %}">«</a>
                        </li>
        
                        {% set prev = 0 %}
                        {% for i in range(0, (total_page)|int) %}
                            {% if (i-0)|abs < 2 or (i-total_page)|abs < 3 or -2 < i-current_page < 5 %} 
                                {% set prev=i %} 
                                <li class="{% if i == current_page %}active{% endif %}">
                                    <a href="{{ url_for('earthquakesListPage',  result=result, offset=i*limit, limit=limit) }}">
                                        {{ i + 1}}
                                    </a>
                                </li>
        
                            {% elif prev == i-1 %}
                                <li class="disabled"><a href="">...</a></li>
        
                            {% endif %}
                        {% endfor %}
                            <li class="{{ ' disabled' if current_page + 1>= total_page else '' }}">
                                <a href=" {% if current_page + 1<total_page %}{{ url_for('earthquakesListPage', result=result, offset=(current_page + 1)*limit, limit=limit) }}{% endif %}">»</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            var messages = {{ messages | safe }};
            for (var i = 0; i < messages.length; i++) {
                alert(messages[i]);
            }
        </script>
        {% endif %}
    {% endwith %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>