{% extends 'base.html' %}
{% block other_head %}
<link rel="stylesheet" href="../static/css/common.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="../static/css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block header %}
{{ nav() }}
{% endblock %}

{% block content %}

<div class="alert alert-danger">
    <a class="close" data-dismiss="alert">×</a>
    <h4 class="alert-heading"><strong>Error!</strong></h4>
    <p>Something in server is going wrong! The error massage list in follow:</p>
    <hr/>
    <p class="mb-0">{{errorinfo}}<p>
</div>

{% endblock %}