{% extends 'base.html' %}

{% block other_head %}
<link rel="stylesheet" href="../static/css/common.css">
{% endblock %}

{% block header %}
{{ nav() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel">
                <div class="card">
                    <h4 class="card-header" style="cursor: default;" data-toggle="collapse"  data-target="#quick">
                        快捷操作
                    </h4>
                    <ul class="list-group" id="quick">
                        <li class="list-group-item">
                            <a href="/houseDamaged">返回总表</a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:downJson();">下载Json文件</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <h2 class="col-md-12">ID为{{ hd.Id }}的房屋损坏详细信息 </h2>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt> 种类</dt>
                        <dd> {{ hd.Category }}</dd>
                        <dt> 时间</dt>
                        <dd> {{ hd.Date }}</dd>
                        <dt> 地理位置</dt>
                        <dd> {{ hd.Location }} </dd>
                        <dt> 基本完好面积</dt>
                        <dd> {{ hd.BasicallyIntactSquare }} </dd>
                        <dt> 等级</dt>
                        <dd> {{ hd.Level }} </dd>
                        <dt> 破坏面积</dt>
                        <dd> {{ hd.DamagedSquare }} </dd>
                        <dt> 毁灭面积</dt>
                        <dd> {{ hd.DestroySquare }} </dd>
                        <dt> 数据上传单位</dt>
                        <dd> {{ hd.ReportingUnit }} </dd>
                        <dt> 地震ID</dt>
                        <dd> {{ hd.EarthquakeId }} </dd>
                    </dl>
                </div>
            </div>
            <hr/>
            <div class="row">
                <h2 class="col-md-12"> 与之联系的震情 </h2>
                <div class="col-lg-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> 序号</th>
                                <th> 地震ID</th>
                            </tr>
                        </thead>
                        {% for eq in eqs %}
                        <tbody>
                            <tr οnclick="click_eq({{eq.Id}} )">
                                <td>{{loop.index - 1}} </td>
                                <td>{{eq.Id}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const nav = document.getElementById("navOptions")
    console.log(nav.children.length)
    for (let i = 0; i < nav.children.length; i++) {
        if (nav.children[i].firstChild.innerHTML == "灾情") {
            nav.children[i].classList.add("active");

        }
        else {
            nav.children[i].classList.remove("active");
        }
    }

    function downJson(){
        var url = "/api/houseDamaged/"+ "{{ hd.Id }}"
        var form = $("<form></form>").attr("action", url).attr("method", "get");
        form.append($("<input></input>").attr("type", "hidden").attr("name", "type").attr("value", "json"));
        form.appendTo('body').submit().remove();
    }

    function click_eq(id){
        console.log("IN")
        window.location.href = "/earthquakes/"+id
    }

</script>
{% endblock %}