<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>MSHD系统</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/static/ico/earth.ico"/>
</head>

<body>
<header>
    <!-- 导航条 -->
    <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">MSHD</a>
            <div>
                <ul class="navbar-nav ">
                    <li class="nav-item"><a class="nav-link" href="/earthquakes">震情</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">灾情</a></li>
                    <li class="nav-item"><a class="nav-link" href="ftp://47.93.229.92/">FTP系统</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon class="svg--sm" fill="white" points="0,0 30,100 65,21 90,100 100,75 100,100 0,100"></polygon>
        <polygon class="svg--lg" fill="white"
                 points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100"></polygon>
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="jumbotron">
                            <h1>
                                欢迎使用
                            </h1>
                            <p>
                                本网站为《多源异构灾情数据》站，旨在收集灾情数据并统一编码储存，以及对外提供灾情数据服务。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </svg>
</header>
<!-- 主页 -->
<div class="col-md-12">
    <div class="container col-lg-12">
        <div class="text-center">
            <h2>
                也许你想️
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
                <div class="card">
                    <img class="card-img-top" src="/static/ico/4.webp" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">上传数据</h5>
                        <p class="card-text">向FTP服务器上传最新震情与灾情数据，包括多种数据格式以及图片</p>
                        <a class="btn btn-primary btn-lg" href="#">上传数据 »</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img class="card-img-top" src="/static/ico/1.webp" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">查看震情</h5>
                        <p class="card-text">通过网页方便地在线查看已整理妥当的、结构化的震情数据</p>
                        <a class="btn btn-primary btn-lg" href="#">查看震情 »</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img class="card-img-top" src="/static/ico/2.webp" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">查看灾情</h5>
                        <p class="card-text">通过网页方便地在线查看与每一次震情相关联的灾情数据</p>
                        <a class="btn btn-primary btn-lg" href="#">查看灾情 »</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card">
                    <img class="card-img-top" src="/static/ico/3.webp" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">学习使用</h5>
                        <p class="card-text">学习使用本站的最佳实践，包括提交数据的规范与方法，查看数据的方式</p>
                        <a class="btn btn-primary btn-lg" href="#">学习使用 »</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
</div>

<!-- 测试按钮 -->
<!-- <form action="/test" method="POST">
    <input type="submit" id="btn-upload-file" class="btn btn-primary">Test</input>
</form> -->

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            var messages = {{ messages | safe }};
            for (var i = 0; i < messages.length; i++) {
                alert(messages[i]);
            }
        </script>
    {% endif %}
{% endwith %}
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>

</html>