{% extends 'base.html' %}

{% block other_head %}
<link rel="stylesheet" href="../static/css/common.css">
{% endblock %}

{% block header %}
{{ nav() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel">
                <div class="card">
                    <h4 class="card-header" style="cursor: default;" data-toggle="collapse"  data-target="#quick">
                        快捷操作
                    </h4>
                    <ul class="list-group" id="quick">
                        <li class="list-group-item">
                            <a href="/injuredStatistics">返回总表</a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:downJson();">下载Json文件</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <h2 class="col-md-12">ID为{{ ij.Id }}的人员伤亡详细信息 </h2>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt> 发生时间</dt>
                        <dd> {{ ij.Date }}</dd>
                        <dt> 地理位置</dt>
                        <dd> {{ ij.Location }} </dd>
                        <dt> 死亡人数</dt>
                        <dd> {{ ij.DeathNumber }} </dd>
                        <dt> 受伤人数</dt>
                        <dd> {{ ij.InjuredNumber }} </dd>
                        <dt> 失踪人数</dt>
                        <dd> {{ ij.InjuredNumber }} </dd>
                        <dt> 报告单位</dt>
                        <dd> {{ ij.ReportingUnit }} </dd>
                        <dt> 对应的震情ID</dt>
                        <dd> {{ ij.EarthquakeId }} </dd>
                    </dl>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>
<script>
    const nav = document.getElementById("navOptions")

    function downJson(){
        var url = "/api/InjuredStatistics/"+ "{{ ij.Id }}"
        var form = $("<form></form>").attr("action", url).attr("method", "get");
        form.append($("<input></input>").attr("type", "hidden").attr("name", "type").attr("value", "json"));
        form.appendTo('body').submit().remove();
    }

    for (let i = 0; i < nav.children.length; i++) {
        if (nav.children[i].firstChild.innerHTML == "震情") {
            nav.children[i].classList.add("active");

        }
        else {
            nav.children[i].classList.remove("active");
        }
    }
</script>
{% endblock %}