{% extends 'base.html' %}
{% from 'nav.html' import nav %}

{% block other_head %}
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="../static/css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
    <script>
        function click_tb(id) {
            window.location.href = "/earthquakes/" + id
        }
    </script>
{% endblock %}

{% block header %}
    {{ nav() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row col-md-12">
            <div class="col-md-2">
                <div class="panel">
                    <div class="card">
                        <h4 class="card-header">
                            各灾情表
                        </h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="/houseDamaged">房屋破坏表</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/injuredStatistics">人员伤亡表</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="col-md-12 table-responsive">
                    <h2 style="text-align: center;font-weight: bold;">人员伤亡总表 <small
                            style="font-size:x-small; color: gray;"> <span id="count"></span> 条数据</small></h2>

                    <table id="InjuredStatisticsTable" data-show-refresh="true"></table>
                </div>
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i = 0; i < messages.length; i++) {
                    alert(messages[i]);
                }
            </script>
        {% endif %}
    {% endwith %}
    <script>
        const nav = document.getElementById("navOptions")
        console.log(nav.children.length)
        for (let i = 0; i < nav.children.length; i++) {
            if (nav.children[i].firstChild.innerHTML == "灾情") {
                nav.children[i].classList.add("active");

            } else {
                nav.children[i].classList.remove("active");
            }
        }
    </script>
{% endblock %}


{% block moreScript %}
    <script src="./static/js/bootstrap-table.min.js"></script>
    <script src="./static/js/bootstrap-table-locale-all.min.js"></script>
    <script src="./static/js/bootstrap-table.min.js"></script>
    <script src="../static/js/injuredStatistics.js"></script>
{% endblock %}