<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>MSHD系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="/">MSHD</a>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/earthquakes">震情</a></li>
                <li class="nav-item"><a class="nav-link" href="/disasters">灾情</a></li>
                <li class="nav-item"><a class="nav-link" href="ftp://47.93.229.92/">FTP系统</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2">
            <div class="panel">
                <div class="card">
                    <h4 class="card-header">
                        数据视角
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/earthquakes">数据表格</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/earthquakes/map">地图可视化</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--panel end-->
        <div class="col-md-10">
            <iframe id="container" src="/baiduMap" height="650" width="1000" frameborder="0" scrolling="0"></iframe>
        </div>
    </div>
</div>
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>

</html>
