{% macro nav(bg_light=True) %}
    <!-- 导航条 -->
    <nav class="navbar navbar-expand-lg navbar-light {% if bg_light %}bg_light{% endif %}" role="navigation">
        <div class="collapse navbar-collapse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MSHD</a>
            </div>
            <div>
                <ul class="nav navbar-nav" id="navOptions">
                    <li class="nav-item"><a class="nav-link" href="/earthquakes">震情</a></li>
                    <li class="nav-item"><a class="nav-link" href="/disasters">灾情</a></li>
                    <li class="nav-item"><a class="nav-link" href="ftp://47.93.229.92/">FTP系统</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endmacro %}